/* MAIN INTRO */

main {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    width: 100%;
    background-color: var(--unnamed-color-f8f0e5);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.main__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.875rem;
}

.main__banner {
    max-width: 26.875rem;
    max-height: 39.375rem;
}

.main__banner img {
    border-radius: 0.625rem;
    height: 100%;
    width: 100%;
}

.main__content {
    font-family: var(--unnamed-color-333333);
    font-size: 1.5rem;
    max-width: 51.25rem;
    max-height: 37.5rem;
}

.main__content h3 {
    font-weight: bold;
    color: var(--unnamed-color-102c57);
    margin-bottom: 0;
}

.main__content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--unnamed-color-102c57);
}

.main__content span {
    color: var(--unnamed-color-102c57);
}

.main__details p {
    margin-bottom: 0;
    height: 4.375rem;
}

.main__sinopse {
    width: 100%;
    height: 100%;
}

.empty-state {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.empty-state p {
    font-size: 1.5rem;
    color: var(--unnamed-color-102c57);
    font-family: var(--primary-font);
    font-weight: bold;
}

/* MAIN CAST */

.main__cast {
    width: 100%;
    background-color: var(--unnamed-color-eadbc8);
    font-family: var(--primary-font);
}

.cast__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.9375rem;
}

.cast__header h2 {
    color: var(--unnamed-color-102c57);
    font-size: 2.25rem;
}

.button__link {
    text-decoration: none;
    color: var(--unnamed-color-f8f0e5);
    font-size: 1.5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    background-color: var(--unnamed-color-102c57);
    border: 0.125rem solid var(--unnamed-color-3f2305);
    border-radius: 1.25rem;
    transition: 0.4s ease all;
}

.button__link:hover {
    background-color: var(--unnamed-color-f2ead3);
    color: var(--unnamed-color-3f2305);
    border: 2px solid var(--unnamed-color-3f2305);
}

.main__film-info h2 span {
    color: var(--unnamed-color-eadbc8);
    font-weight: normal;
}

/* CAST CAROUSEL - SWIPER */

.cast__carousel {
    position: relative;
    padding: 0 0.625rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.5rem;
    color: var(--unnamed-color-333333);
    max-width: 11.875rem;
    text-align: center;
}

.cast__carousel img {
    width: 11.875rem;
    height: 11.875rem;
    max-width: 11.875rem;
    max-height: 11.875rem;
    object-fit: cover;
    border-radius: 50%;
}

.item h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.item p {
    margin-bottom: 0;
}

.main__cast-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.cast-swiper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75rem;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    background: linear-gradient(
        to right,
        var(--unnamed-color-eadbc8),
        transparent
    );
}

.cast-swiper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3.75rem;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    background: linear-gradient(
        to left,
        var(--unnamed-color-eadbc8),
        transparent
    );
}

/* REVIEWS */

.reviews {
    font-family: var(--primary-font);
}

.reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__title {
    color: var(--unnamed-color-102c57);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reviews__grid {
    width: 100%;
}

/* SWIPER BASE */

.review-swiper {
    width: 100%;
}

/* Slide padrão */

.swiper-slide {
    display: flex;
    justify-content: center;
    height: auto;
}

/* ITEM */

.reviews__item {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* CARD BASE (mobile first) */

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 20rem;
    background-color: var(--unnamed-color-eadbc8);
    border-radius: 0.9375rem;
    padding: 1.5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.review-card__author {
    padding-top: 0.625rem;
}

/* TABLET - 768px (VERTICAL) */

@media (min-width: 768px) and (max-width: 991px) {

    .swiper-slide {
        justify-content: flex-start;
    }

    .review-card {
        width: 44.625rem;
        height: 22.8125rem;
        font-size: 1.2rem;
    }
}

/* DESKTOP - 992px+ */

@media (min-width: 992px) {

    .swiper-slide {
        justify-content: center;
    }

    .review-card {
        width: 38.125rem;
        height: 24.5rem;
        font-size: 1.25rem;
    }
}

/* CONTEÚDO COM SCROLL */

.review-card__content {
    overflow-y: auto;
    flex: 1;
    margin-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--unnamed-color-102c57) transparent;
}

/* FOOTER */

.review-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-card__footer p strong {
    color: var(--unnamed-color-102c57);
    font-weight: bold;
}

.review-card p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    
    .main__content {
        max-height: 100%;
    }
    
    .main__intro {
        flex-direction: column;
        gap: 3.125rem;
        max-height: none;
    }

    .main__banner {
        max-width: 100%;
        max-height: none;
    }

    .main__content {
        max-width: 100%;
        text-align: left;
    }

    .reviews__grid {
        flex-direction: column;
        gap: 2rem;
    }

    .review-card {
        max-height: 23.75rem;
        overflow-y: auto;
        padding-right: 0.5rem;
    }

    .button__link {
        display: flex;
        width: 6.5rem;
        height: 2.1875rem;
        font-size: 1.125rem;
        padding: 5px;
        justify-content: center;
    }

    

}