.recomm {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: var(--unnamed-color-102c57);
}

.recomm .item {
    height: 285px;
    width: 190px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
}

.recomm-header h2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--unnamed-color-f8f0e5);
}

.recomm .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 11.875rem;
    height: 100%;
}

