.recomm {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: var(--unnamed-color-102c57);
}

.swiper-slide:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.item-recomm {
    height: 17.8125rem;
    width: 11.875rem;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.item-recomm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.recomm-header h2 {
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--unnamed-color-f8f0e5);
}

.recomm .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 11.875rem;
    height: 100%;
}

.recomm-swiper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25rem;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    background: linear-gradient(
        to left,
        var(--unnamed-color-102c57),
        transparent
    );
}

.recomm-swiper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    background: linear-gradient(
        to right,
        var(--unnamed-color-102c57),
        transparent
    );
}