/* HEADER */

header {
    background-color: var(--unnamed-color-102c57);
    max-height: 6.25rem;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__content h1 {
    margin-bottom: 0;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.header__nav a {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--unnamed-color-f8f0e5);
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    transition: color 0.4s ease;
}

.header__nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--unnamed-color-f8f0e5);
    transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header__nav a:hover {
    color: var(--unnamed-color-f8f0e5);
}

.header__nav a:hover::after {
    width: 100%;
}

@media (max-width: 425px) {

    .header__nav {
        display: none !important;
    }

    .header-nav__btn {
        display: flex;
        width: 1.875rem;
        height: 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        z-index: 2;
    }

    .header-nav__btn span {
        width: 100%;
        height: 0.2938rem;
        background-color: var(--unnamed-color-f8f0e5);
        border-radius: 0.125rem;
        transition: transform 0.4s ease, opacity 0.3s ease;
        transform-origin: center;
    }

    .header-nav__btn.active span:nth-child(1) {
        transform: rotate(45deg) translateY(13px);
    }

    .header-nav__btn.active span:nth-child(2) {
        opacity: 0;
        transform: translateX(16px);
    }

    .header-nav__btn.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-13px);
    }

    .header__nav.active {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 90px;
        padding: 10px;
        background-color: var(--unnamed-color-102c57);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        animation: navFadeDown 0.25s ease;
    }

    @keyframes navFadeDown {
        from {
            opacity: 0;
            transform: translateY(-8px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}