.midia__content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.midia__content-header h2 {
    margin-bottom: 0;
    font-size: 2.25rem;
    color: var(--unnamed-color-102c57);
}

.midia__header h2 {
    font-size: 2.25rem;
    color: var(--unnamed-color-102c57);
}

.item-midia {
    display: flex;
    align-items: center !important;
    width: 25rem;
    height: 14.0625rem;
    border-radius: 0.625rem;
}

.item-background img {
    width: 38.125rem;
    height: 21.25rem;
    border-radius: 0.625rem;
    object-fit: cover;
}

.swiper-slide {
    overflow: visible;
}

.swiper-wrapper {
    pointer-events: all !important;
}

.midia__poster-content {
    display: flex;
    /*
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    */
    /*
    gap: 1.25rem;
    */
}

.item-poster {
    max-height: 27.5rem;
    max-width: 18.4375rem;
    border-radius: 0.625rem;
    background-color: red;
}

.item-poster img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    object-fit: cover;
}

.item-background {
    width: 38.125rem;
    height: 21.25rem;
    background-color: blue;
    border-radius: 0.625rem;
}

.video-overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 10;
    background: transparent;
}

.video-overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 10;
    background: transparent;
}

.gallery__item {
    cursor: pointer;
}

.badge-lenght {
    color: var(--unnamed-color-eadbc8);
}

@media (max-width: 768px) {
    .midia__content-header h2 {
        font-size: 1.5rem;
    }
}