/* FOOTER */

footer {
    background-color: var(--unnamed-color-f8f0e5);
}

.footer__nav {
    max-width: 46.25rem;
    width: 100%;
}

.footer__container {
    height: 100%;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    gap: 7.5rem;
}

.footer__column {
    gap: 1.875rem;
}

.footer__column a {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--unnamed-color-102c57);
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    transition: color 0.4s ease;
}

.footer__column a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--unnamed-color-102c57);
    transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer__column a:hover {
    color: var(--unnamed-color-dfd7bf);
}

.footer__column a:hover::after {
    width: 100%;
}

.footer__row {
    gap: 1.875rem;
}